html{
    scroll-behavior: smooth;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



/*Section Header*/
.header-style{
    background-color: #1F1F23;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px 30px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.header-nav {
  display: flex;
  gap:100px;
}

.languages{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 5px;
    position: relative;
    cursor: pointer;
}

.language-menu {
    display: none;
    flex-direction: column;
    gap: 10px;

    position: absolute;
    top: 100%;
    right: 0;

    background-color: #1F1F23;
    padding: 10px 15px;
    border-radius: 8px;
    z-index: 200;
}

.language-menu.activo {
    display: flex;
}

.enLanguage.hide {
    display: none;
}

.esLanguage.hide {
    display: none;
}


.language-img{
    border-radius: 1.5px;
}

body {
  padding-top: 64px;
 
  /*Fonts*/
  font-family: "Inter", sans-serif;

}

.hamburger {
    display: none;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 28px;
    cursor: pointer;
}


/*Section Home*/
.home-style{
    background-color: #2E2C2D;
    padding-bottom: 70px;
    scroll-margin-top: 64px;



    padding-top: 70px;
    display: flex;
    justify-content: center; /* centra horizontalmente */
    align-items: center; 
}


/*Section About Me*/
.about-me-style{
    background-color: #18181B;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px 250px;
    scroll-margin-top: 64px;
}

.about-me-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap:100px;
    padding-top: 30px;

}

.text-about-me{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-about-me{
    border-radius: 15px;
}


/*Section Projects*/
.project-style{
    background-color: #0F141A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 50px;
    padding-bottom: 100px;
    scroll-margin-top: 64px;
}

.project-nav{ /* container from project list*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 50px;

    padding-top: 30px;
    padding-bottom: 40px;

    font-size: 20px;
}


.projects-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 100px;
}

.unit-project-style{

    position: relative;

    background-color: #161B22;
    width: 970px;
    height: 700px;
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    padding: 50px 80px;
    scroll-margin-top: 63px;

    border-radius: 40px;

    gap: 20px;
}

.information-container{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 50px;
}

.programming-languages{
    display: flex;
    flex-direction: row;

    gap: 10px;
    padding-top: 20px;
}

.c-sharp-rect{
    background-color: #B900B6;
    width: 80px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}

.kotlin-rect{
    background-color: #078600;
    width: 80px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}

.sql-rect{
    background-color: #1300B9;
    width: 80px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 5px;
}


.icon-project{
    display: flex;
    flex-direction: row;

    gap: 10px;
    padding-bottom: 10px;
}

.text-project{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.screenshot-project-container-mobile{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 20px;
}

.screenshot-project-container-pc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 20px;
    gap: 20px;
}

.screenshot-project{
    border-radius: 15px;
}

.button-demo{
    background-color: #ffffff;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 250px;
    height: 50px;
    border-radius: 20px;

    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
}

.button-demo h5{
    color: #000000;
    
}

/*Section Contact*/
.contact-style{
    background-color: #0B1015;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;

    
}

.textContact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 30px;
}

.networksContact{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 30px;

}


/*Section Footer*/
.footer-style{
    background-color: #0B1015;
    display: flex;
    justify-content: center;

    padding-bottom: 10px;
}




/*Compounents Color*/

h1{
    color: #FF9B6A;
    font-size: 40px;
}

h2{
    color: #ffffff;
    font-size: 32px;
}

h3{
    color: #ffffff;
    font-size: 28px;
}

h4{
    color: #ffffff;
    font-size: 24px;
}

h5{
    color: #ffffff;
    font-size: 20px;
}

h6{
    color: #ffffff;
    font-size: 12px;
}

p {
  color: #ffffff;
  text-align: justify;
  font-size: 16px;
}

ul {
  color: #ffffff;
}

a{
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}




/*

.header-nav a.activo {
    color: #FF9B6A; 
*/


/* MOVIL RESPONSIVE */

@media (max-width: 360px) {
    /* aquí sobrescribes solo lo que necesita cambiar */
    .header-style{
    background-color: #1F1F23;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 20px 10px;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    }

    .header-nav {
        display: none;
        gap: 20px;
    }

    .hamburger {
        display: block;
    }

    
    /*Section Home*/
    .presentation{
        width: 95%;
    }



   
    /*Section About Me*/
    .about-me-style{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px 100px;
    scroll-margin-top: 64px;
}


    .about-me-container{
        height: auto;
        width: auto;

        display: flex;
        flex-direction: column;

        gap:40px;
        padding-top: 30px;

    }

    .text-about-me{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    
  
    /*Section Projects*/
    .project-style{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        padding-top: 50px;
        padding-bottom: 100px;
        scroll-margin-top: 64px;
    }

    .project-nav{ /* container from project list*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 50px;

        padding-top: 30px;
        padding-bottom: 40px;

        font-size: 20px;
    }


    .projects-list{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 100px;
    }

    .unit-project-style{

        position: relative;

        background-color: #161B22;
        width: 270px;
        height: 1150px;
        margin: 0;

        display: flex;
        flex-direction: column;
        align-items: center;
        /* justify-content: center; */

        padding: 50px 80px;
        scroll-margin-top: 63px;

        border-radius: 40px;

        gap: 20px;
    }



    .information-container{

        width: 200px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 30px;
    }


    .button-demo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 170px;
        height: 50px;
        border-radius: 20px;

        position: absolute;
        bottom: 3%;
        left: 50%;
        transform: translateX(-50%);
    }

  










    /*Compounents Color*/

    h1{
        color: #FF9B6A;
        font-size: 28px;
    }

    h2{
        color: #ffffff;
        font-size: 24px;
    }

    h3{
        color: #ffffff;
        font-size: 20px;
    }

    h4{
        color: #ffffff;
        font-size: 16px;
    }

    h5{
        color: #ffffff;
        font-size: 12px;
    }

    h6{
        color: #ffffff;
        font-size: 10px;
    }

    p {
    color: #ffffff;
    text-align: justify;
    font-size: 12px;
    }
    
}